<link rel='stylesheet' href='/Content/app.css' />

<!-- BANNER SECTION -->
<div class="banner-container">
  <div class="banner-description">
    <h1>Incident Management Software</h1>
    <p>
      Cybersphere is a cutting-edge web application designed to help companies effectively track and manage incidents. With our user-friendly interface and robust features, you can effortlessly input and monitor crucial incident details, ensuring prompt and efficient resolution.
    </p>
    <p>
      Our app provides a streamlined experience for incident management, allowing you to capture vital information such as Incident ID, Incident Class, Incident Date, and Incident Description. Whether you're dealing with IT-related issues, security breaches, or operational disruptions, Cybersphere empowers you to stay on top of incidents and take swift action.
    </p>
  </div>
  <div class="banner-image">
    <img src="/Assets/images/newImageIncident.png" alt="Incident image" >
  </div>
</div>

