/* Custom CSS goes here */

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
body 
{
  padding-bottom: 70px;
  font-family: Lato;

}


@font-face 
{
    font-family: Lato;
    font-weight: 900; /* Black */
    font-style: normal;
    src: url('../assets/fonts/Lato-Black.ttf') format('truetype');
  }
@font-face {
    font-family: Lato-regular;
    font-weight: 900; /* Black */
    font-style: normal;
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
  }

  
  
.banner-container {
      display: flex;
      background: #5fb1d4;
      color:whitesmoke;
      padding: 10px;
      align-items: center;
      height: 850px;
      margin: auto;
    }
  
.banner-image {
      flex: 1;
      padding: 20px;
      justify-content: center;
      align-items: center;
     
    }
  
.banner-description {
      flex: 1;
      padding: 10px;
      margin-top: 0px;
    }
  
.banner-description h1
    {
      font-family: 'Lato' ;
      font-size: 60px;
      font-weight: 800;
      margin-bottom: 50px;
      margin-top: 0px;
    }
.banner-description p
    {
      font-family: 'Lato' ;
      font-style: italic;
      font-size: 20px;
      margin-bottom: 50px;
      
    }
  
    
.banner-image img
    {
      width: 700px;
      margin: 20px 5px;
      border-radius: 15px;
      height: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    /* Login CSS */
    .txt2 a {
      font-family: Lato-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
    }
    
    .txt2 a:focus {
      outline: none !important;
    }
    
    .txt2 a:hover {
      text-decoration: none;
      color: #6a7dfe;
      color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
      color: -o-linear-gradient(left, #21d4fd, #b721ff);
      color: -moz-linear-gradient(left, #21d4fd, #b721ff);
      color: linear-gradient(left, #21d4fd, #b721ff);
    }

    /*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

button:hover {
	cursor: pointer;
}

.account
{
text-align: center;
margin: auto;
padding: 40px;
}
.welcomeSign{
  font-size: 50px;
  font-family: 'Lato';
  text-align: center;
  margin-left: 50px;
}

.txt1 {
  font-family:Lato-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Lato-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
}
.txt3
{
  font-family:Lato-Regular;
  font-size: 13px;
  color: red;
  line-height: 1.5;
  text-align: center;
  margin: auto;
  padding: 40px;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Lato-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Lato;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

.btn-3 {
  
  width:100%;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  font-family: Lato;
  font-size: 18px;
  font-weight: 200;
  width: 100%;
  height: 100%;
}
.btn-3 button
{
  font-family: 'Lato';
  font-size: 18px; 
  font-weight: 200;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgb(227, 236, 245);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgb(255, 175, 243);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgb(233, 238, 242);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

  /*--------------------------------------------------------------------------
  Tab CSS*/

  
    .tab-container1 {
      margin: 40px auto;
      padding: 40px;
    }
    .tab-container1 h2
    {
      font-family: Lato;
      font-size: 50px;
      padding: 30px;
    }
    .section-title {
      margin-bottom: 20px;
      text-align: center;
    }
    .tab-container2 {
      margin-top: 20px;
    } 
    /* Add and Edit Incident css*/
    
    .page-wrapper {
      margin: 40px;
      min-height: 100vh;
      background-color: #f1f1f1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
    .card-body {
      padding: 50px;
    }
    .title {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }
    .input-group {
      margin-bottom: 20px;
    }
    .label {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
      color: #333;
    }
    .input--style-4 {
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      color: #666;
    }
    .btn--radius-2 {
      padding: 10px 30px;
      border-radius: 25px;
      font-size: 16px;
      color: #fff;
      background-color: #5fb1d4;
      border: none;
      cursor: pointer;
    }
    .btn--radius-2:hover {
      background-color: #4a98ba;
    }
    .btn--radius-1 {
      padding: 10px 30px;
      border-radius: 25px;
      font-size: 16px;
      color: #fff;
      background-color: #efaa47;
      border: none;
      cursor: pointer;
    }
    .btn--radius-1:hover {
      background-color: #d98715;
    }
