<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->

<% include ../partials/dashboard.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      
  </div>
</div>

<style>
  .logo-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px 0;
  }
  .col-md-offset-3 col-md-6 {
    text-align: justify;

  }
</style>
<% include ../partials/footer.ejs %>