<link rel='stylesheet' href='/Content/app.css' />


<body>
<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->

<% include ../partials/dashboard.ejs %>
<% include ../partials/tabs.ejs %>

<% include ../partials/footer.ejs %>
</body>