<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
            <img src="/Assets/images/cslogo.png" alt="Cybersphere Logo" class="logo-image">
      <h1>Welcome to Cybersphere!</h1>
      <p>
        Cybersphere is a cutting-edge web application designed to help companies effectively track and manage incidents. With our user-friendly interface and robust features, you can effortlessly input and monitor crucial incident details, ensuring prompt and efficient resolution.
      </p>
      <p>
        Our app provides a streamlined experience for incident management, allowing you to capture vital information such as Incident ID, Incident Class, Incident Date, and Incident Description. Whether you're dealing with IT-related issues, security breaches, or operational disruptions, Cybersphere empowers you to stay on top of incidents and take swift action.
      </p>
     </div>
  </div>
</div>

<style>
  .logo-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px 0;
  }
  .col-md-offset-3 col-md-6 {
    text-align: justify;

  }
</style>
<% include ../partials/footer.ejs %>